.btn{
    font-size: $font-size-1;
    width: $width-button;
    height: $height-button;
    border: none;
    text-align: center;
}

.btn_select{
    background-image: linear-gradient(225deg,#228dc7,#00acc7);
    color: $color-white;
}