//-------COLOR-------
$color-white: #fff;
$color-text: #00acc7;
$color-green: #42db5f;
$color-orange: #fc9b00;
$color-seperator: #ebebf2;

//------FONT---------
$font-size-1: 10px;
$font-size-2: 12px;
$font-size-3: 13px;
$font-size-4: 14px;
$font-size-5: 16px;
$font-size-6: 20px;
$font-size-7: 22px;
$font-size-8: 22px;
$font-size-9: 30px;

//---------WIDTH--------
$width-button: 120px;
$width-logo: 120px;


//--------HEIGHT--------
$height-button: 30px;